{{ define "ProtoBufServerHelp" }}
{{- template "GlobalHeader" . }}

Usage:
  meshtk protobuf [ACTION ...] [options]

Actions:
  inspector - listen and process inspector protobufs 
  
Examples:
{{ template "ProtoBufServerExamples" . }}
{{ end }}

{{ define "ProtoBufServerExamples" }}
  $ meshtk protobuf inspector --verbose=debug
{{ end }}