{{ define "ProtoBufServerHelp" }}
{{- template "GlobalHeader" . }}

Usage:
  meshtk protobuf [ACTION ...] [options]

Actions:
  inspector - listen and process mosquitto plugin protobufs
  proxy     - accept MQTT connections and reverse proxy to broker
  
Examples:
{{ template "ProtoBufServerExamples" . }}
{{ end }}

{{ define "ProtoBufServerExamples" }}
  $ meshtk protobuf inspector --verbose=debug
  $ meshtk protobuf proxy --verbose=debug

{{ end }}